    main{
        margin-left: 250px; 
        padding: 20px;
        width: calc(100% - 250px);
}


    .main-wrapper{
        max-width: 1200px;
        margin: auto;
}


        

        

        
        

        